Task_1/Connected Services/AnimalService/MEX.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9876/AnimalService/MEX?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Practice.Core" />
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Practice.Core" minOccurs="0" name="GetByIdResult" nillable="true" type="q1:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Practice.Core" minOccurs="0" name="obj" nillable="true" type="q2:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Practice.Core" minOccurs="0" name="SaveResult" nillable="true" type="q3:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Animals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnimalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Practice.Core" minOccurs="0" name="AnimalsResult" nillable="true" type="q4:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>