Task_1/Connected Services/SquadService/MEX2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9876/SquadService/MEX?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.DAL" />
  <xs:element name="GetByIdFromCache">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdFromCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.DAL" minOccurs="0" name="GetByIdFromCacheResult" nillable="true" type="q1:AnimalType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.DAL" minOccurs="0" name="squad" nillable="true" type="q2:AnimalType" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.DAL" minOccurs="0" name="SaveResult" nillable="true" type="q3:AnimalType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Squads">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SquadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.DAL" minOccurs="0" name="SquadsResult" nillable="true" type="q4:ArrayOfAnimalType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>