DataBinding/Connected Services/AnimalService/AnimalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnimalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9876/AnimalService/MEX?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9876/AnimalService/MEX?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9876/AnimalService/MEX?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Practice.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AnimalService_GetByIdFromCache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdFromCache" />
  </wsdl:message>
  <wsdl:message name="AnimalService_GetByIdFromCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdFromCacheResponse" />
  </wsdl:message>
  <wsdl:message name="AnimalService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="AnimalService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="AnimalService_Animals_InputMessage">
    <wsdl:part name="parameters" element="tns:Animals" />
  </wsdl:message>
  <wsdl:message name="AnimalService_Animals_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnimalsResponse" />
  </wsdl:message>
  <wsdl:portType name="AnimalService">
    <wsdl:operation name="GetByIdFromCache">
      <wsdl:input wsaw:Action="http://tempuri.org/AnimalService/GetByIdFromCache" message="tns:AnimalService_GetByIdFromCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AnimalService/GetByIdFromCacheResponse" message="tns:AnimalService_GetByIdFromCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/AnimalService/Save" message="tns:AnimalService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AnimalService/SaveResponse" message="tns:AnimalService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Animals">
      <wsdl:input wsaw:Action="http://tempuri.org/AnimalService/Animals" message="tns:AnimalService_Animals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AnimalService/AnimalsResponse" message="tns:AnimalService_Animals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AnimalService" type="tns:AnimalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByIdFromCache">
      <soap:operation soapAction="http://tempuri.org/AnimalService/GetByIdFromCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/AnimalService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Animals">
      <soap:operation soapAction="http://tempuri.org/AnimalService/Animals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnimalService">
    <wsdl:port name="BasicHttpBinding_AnimalService" binding="tns:BasicHttpBinding_AnimalService">
      <soap:address location="http://localhost:9876/AnimalService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>