DataBinding/Connected Services/SquadService/MEX.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9876/SquadService/MEX?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Practice.Core" />
  <xs:complexType name="AnimalType">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Practice.Core" minOccurs="0" name="Animals" nillable="true" type="q1:ArrayOfAnimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Practice.Core" minOccurs="0" name="Type" type="q2:SQUAD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnimalType" nillable="true" type="tns:AnimalType" />
  <xs:complexType name="ArrayOfAnimalType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnimalType" nillable="true" type="tns:AnimalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimalType" nillable="true" type="tns:ArrayOfAnimalType" />
</xs:schema>